html,
body {
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 100%;
}
@media (min-width: 768px) {
	.container {
		max-width: 600px;
		padding: 2.5rem 1rem !important;
		justify-content: space-around !important;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 700px;
		padding: 3rem 1.5rem !important;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 800px;
	}
}
